#page {
  padding-left: 0;
  padding-right: 0; }
  #page h2 {
    font-size: 70px;
    color: #4A90E2;
    font-weight: 300; }
  #page > .title {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: 0;
    text-align: center;
    min-width: 220px;
    font-weight: 400; }
    #page > .title > .subtitle {
      color: #4A90E2;
      font-size: 20px;
      font-weight: 300; }

@media screen and (max-width: 750px) {
  #float-navbar {
    display: none; }

  .mobile-navbar {
    display: block; }

  #common-footer #follow {
    display: none; }
  #common-footer #copyright {
    margin: 0 auto;
    float: none; }

  #page h2 {
    font-size: 42px; }
  #page > .title > .subtitle {
    font-size: 18px;
    margin-left: 2%;
    margin-right: 2%; } }
.section .item {
  margin-bottom: 5%;
  margin-top: 5%; }
  .section .item .subitem {
    margin-top: 2%; }
  .section .item .title {
    font-size: 32px;
    color: #4A90E2;
    font-weight: 200; }

.card-content .title {
  font-size: 16px;
  font-weight: 500; }

.articles-title {
  padding-left: 3%;
  padding-top: 4%; }
  .articles-title h1 {
    color: #000000;
    font-size: 48px;
    font-weight: 300;
    opacity: 0.9; }

.articles-subtitle {
  color: #000000;
  opacity: 0.7;
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 5%; }

.articles-author {
  text-align: center;
  color: #4A90E2;
  font-weight: 200;
  font-size: 16px; }

.brand-title {
  margin-top: 3%;
  margin-left: 3%; }
  .brand-title span img {
    width: 2%; }
  .brand-title .name {
    font-weight: 200;
    font-size: 16px; }

#articles-author-image {
  width: 8%; }

.articles-author-logo {
  margin-left: 45%; }

#search {
  margin-left: 2%;
  width: 30%; }

.des {
  font-size: 10px; }

body {
  background-color: #F2F2F2; }

#float-navbar {
  opacity: 100%; }

@media screen and (max-width: 750px) {
  .articles-title {
    padding-left: 3%;
    padding-top: 4%; }
    .articles-title h1 {
      color: #000000;
      font-size: 36px;
      font-weight: 300;
      opacity: 0.9; }

  .brand-title {
    margin-top: 3%;
    margin-left: 3%; }
    .brand-title span img {
      width: 7%; }

  #search {
    margin-left: 2%;
    width: 60%; } }
.card {
  background-color: white;
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  border: none;
  border-radius: 2%;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%; }

figcaption {
  font-weight: 200;
  font-size: 6px;
  opacity: 0.3; }

.card-subtitle {
  font-weight: 200;
  font-size: 16px; }

.read-btn {
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 3%;
  margin-top: 5%;
  border-radius: 10px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #4A90E2;
  color: white; }

.card-readtime {
  text-align: center;
  font-size: 14px;
  color: gray; }

.card-block {
  margin-left: 3%;
  font-weight: 100;
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  box-shadow: none; }

.card-img-top {
  display: block;
  width: 100%;
  height: auto; }

.card-title {
  margin-left: 2%;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2857em; }

.card-text {
  clear: both;
  margin-top: .5em;
  color: rgba(0, 0, 0, 0.68); }

.card-footer {
  font-size: 1em;
  position: static;
  top: 0;
  left: 0;
  max-width: 100%;
  padding: .75em 1em;
  color: rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
  background: #fff; }

#loader {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%; }
  #loader img {
    min-width: 5%; }

.no-articles-warning {
  font-size: 28px;
  font-weight: 400;
  text-align: center; }

/*# sourceMappingURL=articles.css.map */
