.one-page-item {
  margin-bottom: 8em;
}

#page {
    padding-left: $page-padding;
    padding-right: $page-padding;
    h2 {
        font-size: $page-title-font-size;
        color: $page-title-font-color;
        font-weight: 300;
    }
    .title {
        margin-left: 0;
        min-width:220px; 
        font-weight: $page-title-font-weight;
        .subtitle {
            color: $page-title-font-color;
            font-size: $page-subtitle-font-size;
            font-weight: 300;
        }
    }
}

@media screen and (max-width: 750px){
    #float-navbar {
        display: none;
    }
    .mobile-navbar {
        display: block;
    }
    #common-footer {
        #follow {
            display: none;
        }
        #copyright {
            margin: 0 auto;
            float: none;
        }
    }
    #page {
        h2 {
            font-size: $page-title-font-size-mobile;
        }
        .title {
            .subtitle {
                font-size: $page-subtitle-font-size-mobile;
                margin-right: $subtitle-margin-mobile;
            }
        }
    }
}
