.section {
    .item {
        margin-bottom: 5%;
        margin-top: 5%;
        .subitem {
            margin-top: 2%;
        }
        .title {
            font-size: 32px;
            color: #4A90E2;
            font-weight: 200;
        }
    }
}

%basic-content {
    font-weight: 300;
    font-size: 16px;
    margin-top: 3%;
    .highlight {
        font-style: italic;
    }
}

%basic-subtitle {
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-bottom: 1%;
}
