$page-padding: 10%;
$page-subtitle-font-size: 20px;
$page-title-margin: 80px;
$page-title-font-size: 70px;
$page-title-font-size-mobile: 42px;
$page-subtitle-font-size-mobile: 18px;
$page-title-font-color: #4A90E2;
$subtitle-margin-mobile: 2%;
@import 'page';
@import 'section';


.section {
    .item {
        .content {
            @extend %basic-content;
            margin-top: 1%;
        }
    }
}
.glyphicon-star {
    color: #4A90E2;
}
