$common-footer-height: 60px;

#float-navbar {
    background-color: black;
    z-index: 1; 
    position: absolute;
    left: 85%;
    top: 30%;
    border-radius: 5px;
    a {
        color: white;
        width: 150px;
        text-align: center;
        font-weight: 400;
    } 
}

#follow-button {
    width:90px; 
    height:25px;
    background-color: black;
    text-align: center;
    border-radius: 3px;
    a {
        color: white;
    }
    img {
        width:20px; 
        height:20px;
    }
}

#common-footer {
    height: $common-footer-height;
    #copyright {
        margin-left: 150px;
        color: white;
        opacity: 100%;
        font-weight: 300;
    }
    #follow {
        margin-left: 250px;
        color: white;
        opacity: 100%;
        font-weight: 300;
        span {
            background-color: white;
            margin-right: 5px;
        }
        img {
            width:20px; 
            height:20px;
        }
        > #text {
            margin-left: 30px;
        }
    }
}

@media screen and (min-width: 600px){
    #float-navbar {
        display: block;
    }
    .mobile-navbar {
        display: none;
    }
}
@media screen and (max-width: 600px){
    #float-navbar {
        display: none;
    }
    .mobile-navbar {
        display: block;
    }
}

.navbar-dark {
    background-color:  black;
    opacity: 80%;
}

