$page-padding: 15%;
$page-subtitle-font-size: 15px;
$page-title-margin: 80px;
$page-title-font-size: 70px;
$page-title-font-size-mobile: 42px;
$page-title-font-weight: 400;
$page-subtitle-font-size-mobile: 18px;
$page-title-font-color: #4A90E2;
$subtitle-margin-mobile: 2%;
@import 'page';
@import 'section';

.background-white {
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  height: 100vh;
}

.background-alayman {
  position: relative;
  height: 100%;
  top: 0;
  transform-style: preserve-3d;
  z-index: -1;
  img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(.9) contrast(1.2)
  }
  .name {
    font-weight: 500;
    font-size: 90px;
    width: 8em;
    color: white;
    position: absolute;
    top: 40%;
    left: calc(50% - 4em);
    text-align: center;
    position: relative;
    z-index: 1;
  }
  .resume {
    font-weight: 300;
    text-align: center;
    font-size: 28px;
    position: absolute;
    color: white;
    top: calc(40% + 6em);
    width: 20em;
    left: calc(50% - 10em);
    text-align: center;
  }
}

.background {
  transform: translateZ(-10px) scale(2);
}

.container {
  background-color: #fff;
  margin: 0;
  width: 100%;
}

#abilities {
  display: flex;
  padding: 2.5em 0;
  .diagram {
    border: 1px solid #cecece;
    width: calc(65% - .5em);
    display: flex;
    justify-content: center;
    align-items: center;
    .subtitle {
      color: $page-title-font-color;
      font-size: $page-subtitle-font-size;
      font-weight: 300;
      text-align: center;
    }
    img {
      width: 100%;
    }
  }
  .content {
    width: 35%;
    margin-left: .5em;
    padding: 1em;
    background-color: #394a89;
    border-radius: .2em;
    .title h2{
      color: #fff;
      margin-bottom: 0;
    }
    .subtitle {
      color: #fff;
      margin-bottom: 0;
      font-size: $page-subtitle-font-size;
      font-weight: 300;
    }
    .section {
      color: #fff;
      font-size: 18px;
      li {
        font-size: $page-subtitle-font-size;
        font-weight: 300;
      }
    }
  }
}

#contact {
  background-color: #394a89;
  border-radius: .2em;
  .title {
    & h2{
      color: #fff;
    }
    .subtitle {
      color: #fff;
    }
  }
}

#portfolios {
  display: flex;
  padding: 2.5em 0;
  .diagram {
    width: calc(60% - .5em);
    .wrap {
      .row {
        display: flex;
        margin: 0;
        .item {
          width: 30%;
          margin: 1%;
          border: 1px solid #cecece;
          position: relative;
          img {
            width: 100%;
          }
          .txt {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 15px;
            box-sizing: border-box;
            text-align: center;
            color: #fff;
            background-color: rgba(0,0,0,.6);
            display: flex;
            /* opacity: 0; */
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: .5s;
            transform: scale(0);
          }
          &:hover .txt{
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }
  }
  .content {
    width: 40%;
    margin-right: .5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #394a89;
    border-radius: .2em;
    .title h2{
      color: #fff;
      margin-bottom: 0;
    }
    .subtitle {
      color: #fff;
      margin-bottom: 0;
    }
    .items {
      width: 30%
    }
  }
}

.section {
    .item {
        .subtitle {
            @extend %basic-subtitle;
        }
        .subject {
            @extend %basic-subtitle;
        }
        .content {
            @extend %basic-content;
        }
        .description {
            @extend %basic-content;
            .location {
                font-style: italic;
                font-weight: 500;
            }
        }
        img {
            margin-top: 7px;
        }
    }
}

#careers, #certifications {
    img {
        width: 100px;
        margin-top: 2%;
    }
}

.circle-container {
  display: flex;
  justify-content: center;
  .goal-circle {
    margin-top: 1em;
    width: .6em;
    height: .6em;
    background-color: #cecece;
    border-radius: 3em;
    &:not(.final-circle)::before {
      content: '';
      position: relative;
      display: block;
      left: 0.3em;
      top: 1em;
      border-left: 1px dotted #cecece;
      min-height: 18em;
    }
  }
}

@media screen and (max-width: 1200px) {
    .section {
        .item {
          .subitem {
            min-height: 8em;
          }
            .description {
              visibility: hidden;
              display: none;
            }
            .subject {
                font-size: 16px;
                color: black;
                font-weight: 300;
                margin-bottom: 5%;
            }
        }
    }

  .mobile-hidden {
    display: none;
    visibility: hidden;
  }

  #abilities {
    display: block;
    .diagram {
      display: none;
      visibility: hidden;
      margin-top: 20px;
      img {
        width: 100%;
      }
    }
    .content {
      width: 100%;
      margin-left: 0;
      .title {
        text-align: start;
      }
      .subtitle {
        text-align: start;
      }
    }
  }

  #portfolios {
    display: block;
    .diagram {
      margin-top: 20px;
      width: 100%;
    }
    .content {
      width: 100%;
      margin-left: 0;
      .title {
        text-align: start;
      }
      .subtitle {
        text-align: start;
      }
    }
  }
}