$page-padding: 10%;
$page-subtitle-font-size: 20px;
$page-title-margin: 80px;
$page-title-font-size: 70px;
$page-title-font-size-mobile: 42px;
$page-title-font-weight: 400;
$page-subtitle-font-size-mobile: 18px;
$page-title-font-color: #4A90E2;
$subtitle-margin-mobile: 2%;
@import 'page';
@import 'section';

.section {
    .item {
        .subtitle {
            @extend %basic-subtitle;
        }
        .subject {
            @extend %basic-subtitle;
        }
        .content {
            @extend %basic-content;
        }
        .description {
            @extend %basic-content;
            .location {
                font-style: italic;
                font-weight: 500;
            }
        }
        img {
            margin-top: 7px;
        }
    }
}

#careers, #certifications {
    img {
        width: 100px;
        margin-top: 2%;
    }
}

.circle-container {
  display: flex;
  justify-content: center;
  .goal-circle {
    margin-top: 1em;
    width: .7em;
    height: .7em;
    background-color: #cecece;
    border-radius: 3em;
  }
}

.icon-container{
  width: 70px;
  &::before {
    content: '';
    position: absolute;
    left: -2.8em;
    top: 2em;
    height: 1.7em;
    height: calc(100%);
    border-left: 1px dotted #cecece;
  }
}

@media screen and (max-width: 1200px){
    .section {
        .item {
          .subitem {
            min-height: 8em;
          }
            .description {
              visibility: hidden;
              display: none;
            }
            .subject {
                font-size: 16px;
                color: black;
                font-weight: 300;
                margin-bottom: 5%;
            }
        }
    }

  .mobile-hidden {
    display: none;
    visibility: hidden;
  }
}
