$page-padding: 10%;
$page-subtitle-font-size: 18px;
$page-title-margin: 80px;
$page-title-font-size: 70px;
$page-title-font-color: #4A90E2;
@import 'page';

.profile-container {
    min-width:220px; 
}

.profile-container h3 {
    font-size: 32px;
    color: #4A90E2;
    font-weight: 100;
}

#personal-image {
    width:200px; 
    height:200px;
}
