$page-padding: 10%;
$page-subtitle-font-size: 20px;
$page-title-margin: 80px;
$page-title-font-size: 70px;
$page-title-font-size-mobile: 42px;
$page-title-font-weight: 400;
$page-subtitle-font-size-mobile: 18px;
$page-title-font-color: #4A90E2;
$subtitle-margin-mobile: 2%;
@import 'page';

.profile-container {
    min-width:220px; 
    p {
        font-size: 16px;
    }
}

.profile-container h3 {
    font-size: 32px;
    color: #4A90E2;
    font-weight: 100;
}

#personal-image {
    width:200px; 
    height:200px;
}

#follow-button {
    width:90px; 
    height:25px;
    background-color: black;
    text-align: center;
    border-radius: 3px;
    a {
        color: white;
    }
    img {
        width:20px; 
        height:20px;
    }
}

#contact {
    display: none;
    .link {
        margin-top: 3%;
        margin-bottom: 3%;
        a{
            font-size: 16px;
            img {
                width: 20px;
            }
        }
    }
}

@media screen and (max-width: 750px){
    .profile-container {
        text-align: center;
        padding-bottom: 5%;
    }
    #follow-button {
        margin: 0 auto;
        float: none;
    }
}

@media screen and (max-width: 600px){
    #contact {
        display: block;
    }
}
